body {
    color: #ededed;
    background-color: #181818;
    margin: auto;
    padding: 0.5em 0.5em;
}

a {
    color: #57b3ff;
}
a:visited {
    color: #9c6aff;
}
a:hover {
    color: #ffd633;
}

code {
  color: #04f5c1
}
