{% extends "base.jinja" %}

{% block content %}
<article>
  <header>
    {% if title %}<h1>{{title}}</h1>{% endif %}
    {% if subtitle %}<h2>{{subtitle}}</h2>{% endif %}
    {% if date %}<li>Written: <time>{{date}}</time></li>{% endif %}
    {% if update %}<li>Last Update: <time>{{update}}</time></li>{% endif %}
    <hr/>
  </header>

  {{body}}
</article>
{% endblock %}