<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>quirino.net</title>
    {% endif %}
  </head>
  <body>
    <nav>
      <h1>quirino.net</h1>
    </nav>
    <hr/>

    {% block content %}
    {% endblock %}

    <hr/>
    <footer>
      This is the end of the page :P
    </footer>
  </body>
</html>
